<!--
Copyright (c) 2024 Sami Menik, PhD. All rights reserved.
-->
<div class="post framed">
    <img src="{{user.profileImagePath}}" alt="User avatar">
    <div class="post-body">
        <div class="username">
            <a href="/profile/{{user.userId}}">{{user.firstName}} {{user.lastName}}</a>
        </div>
        <div class="post-date">{{postDate}}</div>
        <div class="post-content">
            {{content}}
        </div>

        <div class="post-actions">
            <!-- Comment Section -->
            <a href="/post/{{postId}}" class="far fa-comment"></a>
            <span class="action-count">{{commentsCount}}</span>

            <!-- Heart/Like Section -->
            <button type="button"
                    class="heart-btn {{#isHearted}}fa{{/isHearted}}{{^isHearted}}far{{/isHearted}} fa-heart"
                    data-postid="{{postId}}"
                    data-isadd="{{^isHearted}}true{{/isHearted}}{{#isHearted}}false{{/isHearted}}">
            </button>
            <span class="action-count" id="hearts-count-{{postId}}">{{heartsCount}}</span>

            <!-- Bookmark Section (AJAX Enabled) -->
            <button type="button"
                    class="bookmark-btn {{#isBookmarked}}fa{{/isBookmarked}}{{^isBookmarked}}far{{/isBookmarked}} fa-bookmark"
                    data-postid="{{postId}}"
                    data-isadd="{{^isBookmarked}}true{{/isBookmarked}}{{#isBookmarked}}false{{/isBookmarked}}"
                    aria-label="Toggle Bookmark">
            </button>
        </div>

        {{#isShowComents}}
            {{> fragments/comments_container}}
        {{/isShowComents}}
    </div>
</div>
